<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
    <modifyHyperlink>
    <processor type="Sitecore.Support.Modules.EmailCampaign.Core.Pipelines.GenerateLink.GeneratePreviewLink, Sitecore.Support.208586" patch:instead="*[@type='Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.GeneratePreviewLink, Sitecore.EmailCampaign']"/>
      </modifyHyperlink>
      </pipelines>
  </sitecore>
</configuration>